[Unit]
Description=Command Handler, Instance %i
PartOf=commandhandlers.target
After=packetizer.service fpga.service loadbalancer.service
Before=housekeeping.service

[Service]
Type=simple
ExecStartPre=/bin/sleep 1
ExecStart=/bin/python -u /root/commandhandler/commandhandler.py
