[Unit]
Description=Command Handler, Instance %i
After=packetizer.service fpga.service

[Service]
Type=simple
ExecStart=/bin/python -u /root/commandhandler/commandhandler.py

[Install]
WantedBy=default.target
