[Unit]
Description=Command Handlers
Wants=commandhandler@0.service commandhandler@1.service commandhandler@2.service
After=packetizer.service fpga.service

[Install]
WantedBy=default.target
