[Unit]
Description=Command Handler, Instance %i
PartOf=commandhandlers.target

[Service]
Type=simple
ExecStart=/bin/python -u /root/commandhandler/commandhandler.py
