[Unit]
Description=Flash FPGA

[Service]
Type=oneshot
ExecStart=/bin/sleep 1
ExecStart=/bin/bash /root/fpga/unbind.sh
ExecStart=/bin/python -u /root/fpga/fpga.py

[Install]
WantedBy=default.target
