[Unit]
Description=Flash FPGA
Before=fpga.service default.target

[Service]
Type=oneshot
ExecStart=/bin/python -u /root/fpga/flash.py

[Install]
WantedBy=default.target
