[Unit]
Description=FPGA Process
After=flash-fpga.service
Before=default.target

[Service]
Type=simple
ExecStartPre=/bin/bash /root/fpga/unbind.sh
ExecStart=/bin/python -u /root/fpga/fpga.py
