[Unit]
Description=Housekeeping
After=packetizer.service depacketizer.service fpga.service commandhandlers.target loadbalancer.service
Before=default.target

[Service]
Type=simple
ExecStart=/bin/python -u /root/housekeeping/housekeeping.py

[Install]
WantedBy=default.target
