[Unit]
Description=Housekeeping
After=loadbalancer.service commandhandlers.target
Before=pat.service default.target

[Service]
Type=simple
ExecStartPre=/bin/sleep 5
ExecStart=/bin/python -u /root/housekeeping/housekeeping.py

[Install]
WantedBy=default.target
