[Unit]
Description=Camera GPIO init

[Service]
Type=oneshot
ExecStart=/bin/bash -c "echo 34 >> /sys/class/gpio/export"
ExecStartPost=/bin/bash -c "echo out >> /sys/class/gpio/gpio34/direction"
ExecStartPost=/bin/bash -c "echo 0 >> /sys/class/gpio/gpio34/value"

[Install]
WantedBy=default.target
