[Unit]
Description=Load Balancer
After=fpga.service set-time.service
Before=commandhandlers.target housekeeping.service default.target

[Service]
Type=simple
ExecStart=/bin/python -u /root/commandhandler/router.py

[Install]
WantedBy=default.target
