[Unit]
Description=PAT
After=housekeeping.service
Before=default.target

[Service]
Type=simple
StandardOutput=null
ExecStart=/root/bin/pat

[Install]
WantedBy=default.target
