[Unit]
Description=SPI kernel driver
Before=packetizer.service depacketizer.service default.target

[Service]
Type=oneshot
ExecStart=/sbin/insmod /root/bin/click_spi.ko

[Install]
WantedBy=default.target
