[Unit]
Description=SPI kernel driver
Before=depacketizer.service

[Service]
Type=oneshot
ExecStart=/sbin/insmod /root/bin/click_spi.ko

[Install]
WantedBy=default.target
